@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@theme {
	--color-my-red: #ff0000;
	--color-my-green: #00ff00;
}

.syncopate-regular {
	font-family: 'Syncopate', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.syncopate-bold {
	font-family: 'Syncopate', sans-serif;
	font-weight: 700;
	font-style: normal;
}
